<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbX-myZUPqJ8Ex7mJfys28PeqoPljJUNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>805864190510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>software.kanunnikoff.Kamyal</string>
	<key>PROJECT_ID</key>
	<string>kamyal</string>
	<key>STORAGE_BUCKET</key>
	<string>kamyal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805864190510:ios:ff095a1430f5927e1f25bf</string>
</dict>
</plist>